

    @media screen and (min-width:1024px) {
        
        html{
            font-size: 55%;
        }
        header{
            padding: 45px 8%;
         }

         .navbar h2{
            font-weight: 600;
            font-size: 30px;
         }
         .navbar ul{
            margin-right: 50px;
         }
         .navbar ul li a{
         font-weight: 900;
         font-size: 16px;
          }
          section{
        padding: 45px 9%;
          }
 
    }
    
    @media screen and (min-width:768px) and (max-width:1023px){
        html{
            font-size: 55%;
        }
        header{
            padding: 45px 9%;
         }

         .navbar h2{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 22px;
         }
      
         .navbar ul li a{
         font-weight: 900;
         font-size: 15px;
          }
          section{
        padding: 45px 9%;
          }
          .content h3{
        font-weight: 400;
        font-size: 40px;
         } 

         .parent{
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
         }
         .parent .child{
            width: 45%;
            height: 300px;
         }

    }
    
    
    @media screen and (max-width:767px)  {
        html{
            font-size: 50%;
        }
        header{
            padding: 45px 8%;
        
         }
         .navbar h2{
            font-family: 'Poppins', sans-serif;
            font-weight: 600;
            font-size: 20px;
         }
      
         .navbar ul li a{
         font-weight: 900;
         font-size: 12px;
          }
          section{
        padding: 45px 9%;
          }
          .content h3{
            width: 100%;
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        margin-bottom: 40px;
         } 

         .parent{
            width: 100%;
         }
         .parent .child{
            width: 90%;
            height: 300px;
         }

    }

